
.book-form {
  margin: 0;
  padding: 0 4% 0 4%;
}

.form-title {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.book-input {
  padding: 0.813rem 1.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  width: 50%;
  color: #aca5a5;
  font-family: Montserrat, sans-serif;
}

.category-input {
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  width: 20%;
  border: solid 1px #e8e8e8;
  font-family: Montserrat, sans-serif;
}

.form-btn {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  width: 20%;
  border-radius: 3px;
  border: 0;
  background-color: #0290ff;
  color: #fff;
}
